<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/aboutUs.css">
        <title>Travel.to</title>
    </head>
    <script>
        function popUp(){
            alert("Already on AboutUs.");
        }
    </script>

    <body background="../static/BG-1.png">
        <img src="../static/Logo.png" id = "logo" height="30px" width="30px">
        <h5 id = "name">TRAVEL.to</h5>
        <!-- <p id = "destination">Destinations</p>
        <p id = "activities">Activities</p> -->
        <a href="aboutUs.html" onclick="popUp()"><p id = "aboutUs">About Us</p></a>
        <a href="feedback.html"><p id = "contact">Feedback</p></a>
        <a href = "index.html"><p id = "login">Logout</p></a>
        <!-- <img src = "../static/sideMenuBar.png" id = "sideMenuBar" height="22px" width="35px"> -->
        <div id="userLogin">
            <img src="../static/userLogin.png" class="loginIMG">
            <p id="loginText-1">About Us</p>
        </div>
        <div id="feedbackBox">
            <p id="guidance">GUIDED BY:</p>
            <p id = "prof">Prof. Somyadev Maity</p>
            <img src="../static/Avatar.png" id="avatar" height="100px" width="80px">
            <div id="person1">
                <img src="../static/Avatar.png" class="personImg">
                <p class="personText">Naman Pundir<br>IIT2021126</p>
            </div>
            <div id="person2">
                <img src="../static/Avatar.png" class="personImg">
                <p class="personText">Tanish Khandelwaal<br>IIT2021128</p>
            </div>
            <div id="person3">
                <img src="../static/Avatar.png" class="personImg">
                <p class="personText">Nikunj Gupta<br>IIT2021166</p>
            </div>
            <div id="person4">
                <img src="../static/Avatar.png" class="personImg">
                <p class="personText">Anuj Kumar Verma<br>IIT2021159</p>
            </div>
            <div id="person5">
                <img src="../static/Avatar.png" class="personImg">
                <p class="personText">Pulkit Goyal<br>IIT2021176</p>
            </div>
        </div>
    </body>