<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <title>Travel.to</title>
    </head>

    <body background="../static/BG-1.png">
        <script>
            function popUp(){
                alert("Login Required!");
            }
        </script>
        <img src="../static/Logo.png" id = "logo" height="30px" width="30px">
        <h5 id = "name">TRAVEL.to</h5>
        <!-- <p id = "destination">Destinations</p>
        <p id = "activities">Activities</p> -->
        <a href="aboutUs.html"><p id = "aboutUs">About Us</p></a>
        <a href="index.html" onclick="popUp()"><p id = "contact">Feedback</p></a>
        <a href = "login.html"><p id = "login">Login/SignUP</p></a>
        <!-- <img src = "../static/sideMenuBar.png" id = "sideMenuBar" height="22px" width="35px"> -->
        <p id="explore">EXPLORE</p>
        <p id="travel">TRAVEL.to</p>
        <!-- <div id="goa">
            <img src = "../static/location.png" class="location" height="50px" width="50px">
            <p class="locationText">Goa</p>
            <p class="planAtrip">Plan a trip</p>
        </div>
        <div id="nanital">
            <img src = "../static/location.png" class="location" height="50px" width="50px">
            <p class="locationText">Nainital</p>
            <p class="planAtrip">Plan a trip</p>
        </div>
        <div id = "mumbai">
            <img src = "../static/location.png" class="location" height="50px" width="50px">
            <p class="locationText">Mumbai</p>
            <p class="planAtrip">Plan a trip</p>
        </div>
        <div id="more">
            <img src="../static/plus.png" id="plus" height="65px" width="65px">
        </div> -->
    </body>
</html>