#logo{
    position: absolute;
    left: 76px;
    top: 46px;
}

#name{
    position: absolute;
    width: 117px;
    height: 21px;
    left: 115px;
    top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    opacity: 0.9;
}

#destination{
    position: absolute;
    width: 118px;
    height: 22px;
    left: 25%;
    top: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#activities{
    position: absolute;
width: 86px;
height: 22px;
left: 36%;
top: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

#aboutUs{
    position: absolute;
width: 86px;
height: 22px;
left: 35%;
top: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

#contact{
    position: absolute;
width: 74px;
height: 22px;
left: 45%;
top: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

#login{
    position: absolute;
width: 128px;
height: 22px;
left: 55%;
top: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

#sideMenuBar{
    position: absolute;
    top: 45px;
    left: 93%;
}

#explore{
    position: absolute;
    width: 10%;
    height: 37px;
    left: 40%;
    top: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.55em;
    color: rgba(255, 255, 255, 0.7);
}

#travel{
    position: absolute;
    width: 50%;
    height: 250px;
    left: 250px;
    top: 40px;

    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 305px;
    color: #FFFFFF;
}

#goa{
    
    position: absolute;
    width: 300px;
    height: 75px;
    left: 200px;
    top: 600px;

    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

.locationText{
    position: absolute;
    width: 41px;
    height: 24px;
    left: 55px;
    top: -10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.planAtrip{
    position: absolute;
width: 82px;
height: 20px;
left: 55px;
top: 25px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
opacity: 0.4;
}

.location{
    position: absolute;
    top: 10px;
    color: #FFFFFF;
}

#nanital{
    position: absolute;
    width: 300px;
    height: 75px;
    left: 550px;
    top: 600px;

    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

#mumbai{
    position: absolute;
    width: 300px;
    height: 75px;
    left: 900px;
    top: 600px;

    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

#more{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 1250px;
    top: 600px;

    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

#plus{
    position: absolute;
    top: 5px;
    left: 5px;
}

